<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ meta.description }}{% endif %}">
        <title>
            {%- if title %}
                {{ title | safe }}
            {%- else %}
                {{ meta.title }}
            {%- endif %}
        </title>
        {%- if next %}
            <link rel="next" href="{{ meta.base }}{{ next }}"/>
        {%- endif %}
        <link rel="canonical" href="{{ meta.base }}{{ page.url }}"/>

        {%- if previous %}
            <link rel="prev" href="{{ meta.base }}{{ previous }}"/>
        {%- endif %}
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest">
        {% set js %}
        {% include "bulma.js" %}
        {% endset %}
        <!-- Script for hamburger menu toggle on mobile -->
        <script>
            {{ js | jsmin | safe }}
        </script>
    </head>
    <body>
        {% include "_nav.njk" %}
        {{ content | safe }}
        {% include "_footer.njk"%}
    </body>
</html>