<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/maps.css">
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ meta.description }}{% endif %}">
        <title>
            {% if title %}{{ title }}{%else%}{{ meta.title }}{%endif%}
            </title>
            <link rel="icon" href="/favicon.ico" sizes="any">
            <link rel="apple-touch-icon" href="/apple-touch-icon.png">
            <link rel="manifest" href="/site.webmanifest">
        </head>
        <body>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">non<wbr>league<wbr>grounds<wbr>.com</a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/ground/">
                                <span class="emoji">🏟️</span> Grounds</a>
                            <a class="navbar-item" href="/club/">
                                <span class="emoji">⚽</span> Clubs</a>
                            <a class="navbar-item" href="/league/">
                                <span class="emoji">🏆</span> Leagues</a>
                        </div>
                    </div>
                </div>
            </nav>
            {{ content | safe }}
            <footer class="footer" >
                <div class="container">
                    <div class="columns">
                        <p class="column is-one-third">
                            {{ meta.description }}
                        </p>
                        <ul class="column">
                            <li>
                                <strong>Leagues</strong>
                            </li>
                            {% for league in leagues %}
                                <li>
                                    <small>
                                        <a href="/league/{{ league.name | slugify }}/">{{ league.name }}</a>
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </footer>
        </body>
    </html>