{%- macro breadcrumb(tree, branch, leaf) %}
  <div class="container py-4 is-hidden-mobile">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        {%- if tree %}
          <li {% if not branch -%} class="is-active has-text-weight-semibold" {%- endif %}>
            <a href="/{{ tree | slugify }}" {% if not branch -%} aria-current="page" {%- endif %}>{{ tree }}</a>
          </li>
        {%- endif %}
        {%- if branch %}
          <li {% if not leaf -%} class="is-active has-text-weight-semibold" {%- endif %}>
            <a href="/{{ tree | slugify }}/{{ branch | slugify }}" {% if not leaf -%} aria-current="page" {%- endif %}>{{ branch }}</a>
          </li>
        {%- endif %}
        {%- if leaf %}
          <li class="is-active has-text-weight-semibold">
            <a href="/{{ tree | slugify }}/{{ branch | slugify }}/{{ leaf | slugify }}" aria-current="page">{{ leaf }}</a>
          </li>
        {%- endif %}
      </ul>
    </nav>
  </div>
{%- endmacro %}