{%- macro breadcrumb(tree, branch, leaf) %}
  <div class="container py-4 is-hidden-mobile">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="/" class="has-text-weight-bold">Home</a>
        </li>
        {%- if tree %}
          <li  class="{% if not branch -%}is-active{%- endif %} has-text-weight-semibold">
            <a href="/{{ tree | slugify }}" {% if not branch -%} aria-current="page" {%- endif %}>{{ tree }}</a>
          </li>
        {%- endif %}
        {%- if branch %}
          <li class="{% if not leaf -%}is-active{%- endif %} has-text-weight-medium">
            <a href="/{{ tree | slugify }}/{{ branch | slugify }}" {% if not leaf -%} aria-current="page" {%- endif %}>{{ branch }}</a>
          </li>
        {%- endif %}
        {%- if leaf %}
          <li class="is-active has-text-weight-normal">
            <a href="/{{ tree | slugify }}/{{ branch | slugify }}/{{ leaf | slugify }}" aria-current="page">{{ leaf }}</a>
          </li>
        {%- endif %}
      </ul>
    </nav>
  </div>
{%- endmacro %}