{% macro creativeCommons(image) %}
  <div class="container">
    <small>
      Photo by <a href="https://www.flickr.com/photos/{{ image.creator.identifier }}" class="has-text-danger">{{ image.creator.name }}</a> 
      on <a href="https://www.flickr.com/photos/{{ image.creator.identifier }}/{{ image.identifier }}" class="has-text-danger">Flickr ↗</a>
      {% if image.license %}
        <p>
          <a href="{{ image.license }}" class="has-text-black has-text-weight-bold">CC-{{ image.license.split("/")[4] | upper }}-{{ image.license.split("/")[5] | upper }}</a>
        </p>
      {% endif %}
    </small>
  </div>
{% endmacro %}