<footer class="footer has-background-light ">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        <p>
          <small>{{ meta.disclaimer }}</small>
        </p>
      </div>
      <div class="column">
        {%- for tier, league in leagues | sort(attribute = "additionalProperty.value") | groupby("additionalProperty.value") %}
          <h5 class="title is-5 is-size-7 mb-1">{{ tier | int | ordinal }} tier</h5>
          <ul class="mb-4">
            {% for item in league %}
              <li>
                <small>
                  <a href="/leagues/{{ item.name | slugify }}">{{ item.name }}</a>
                </small>
              </li>
            {%- endfor %}
          </ul>
        {%- endfor %}
      </div>
    </div>
  </div>
</footer>