{% macro hero(title, subtitle, picture, color = "white", type = "halfheight")%}
  {# See: https://codepen.io/leonidboykov/pen/Edvvpm #}
  {# Smaller hero height if there's no supplied image #}
  <section class="hero is-{{ color }} is-{{ type if img else 'small' }} has-background">
    {% if picture %}
      {{ tag }}
    {% endif %}
    <div class="hero-body">
      <div class="container has-text-left has-text-centered-mobile">
        <h1 class="title has-text-weight-bold is-size-2">{{ title }}</h1>
        <h2 class="subtitle is-size-6 has-text-weight-semibold">{{ subtitle }}</h2>
      </div>
    </div>
  </section>
{% endmacro %}