{% macro hero(title, subtitle, img, color = "dark", type = "halfheight")%}
  {# See: https://codepen.io/leonidboykov/pen/Edvvpm #}
  <section class="hero is-{{ color }} is-{{ type }} has-background">
    <picture>
      <source srcset="/img/{{ img }}.avif" type="image/avif">
      <source srcset="/img/{{ img }}.jpeg" type="image/jpeg">
      <img class="hero-background is-transparent" src="/img/{{ img }}.jpg" alt="{{ title }}">
    </picture>
    <div class="hero-body">
      <div class="container has-text-left has-text-centered-mobile">
        <h1 class="title">{{ title }}</h1>
        <h2 class="subtitle">{{ subtitle }}</h2>
      </div>
    </div>
  </section>
{% endmacro %}