{%- macro staticmap(address, maptype, zoom, width, height, format, scale, key) -%}
    https://maps.googleapis.com/maps/api/staticmap?center={{address | striptags}}&maptype={{maptype}}&zoom={{zoom}}&scale={{scale}}&size={{width}}x{{height}}&format={{format}}&key={{key}}
{%- endmacro -%}

{%- macro fc(club, abbr = false) -%}
    {%- if club.slice(0, 3) == "AFC" -%}
        {%- if abbr -%}
            <abbr title="Association Football Club">A.F.C.</abbr>
        {%- else -%}
            AFC
        {%- endif -%}
        {{ club.slice(3) }}
    {%- elseif club.slice(-3) == "AFC" -%}
        {{ club.slice(0,-3) }}
        {%- if abbr -%}
            <abbr title="Association Football Club">A.F.C.</abbr>
        {%- else -%}
            AFC
        {%- endif -%}
    {%- elseif club.slice(0, 2) == "FC" -%}
        {%- if abbr -%}
            <abbr title="Football Club">F.C.</abbr>
        {%- else -%}
        FC
        {%- endif -%}
        {{ club.slice(2) }}
    {%- else -%}
        {{ club }}
        {%- if abbr %}
            <abbr title="Football Club">F.C.</abbr>
        {%- else %}
        FC
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

