<nav class="navbar is-fixed-top is-white has-shadow" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-semibold" href="/">Non-League Grounds</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        {%- for item in meta.nav %}
          {% set url = "/" + item.label | lower %}
          <a href="{{ url }}" class="navbar-item">
            <span class="icon has-text-{{ item.color }}">
              <i class="fa-solid fa-{{ item.icon }}"></i>
            </span>
            <span class="pl-1">{{- item.label -}}</span>
          </a>
        {%- endfor %}
      </div>
    </div>
  </div>
</nav>