<div class="container">
  <nav>
    <ul>
      <li>
        <strong>
          <a href="/">Non-League Grounds<wbr></a>
        </strong>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/grounds/">
          <span class="emoji" role="img" aria-label="arena">🏟️</span>
          <span class="label"> Grounds</span>
        </a>
      </li>
      <li>
        <a href="/clubs/">
          <span class="emoji" role="img" aria-label="football">⚽</span>
          <span class="label"> Clubs</span></a>
      </li>
      <li>
        <a href="/leagues/">
          <span class="emoji" role="img" aria-label="trophy">🏆</span>
          <span class="label"> Leagues</span></a>
      </li>
      <li>
        <a href="/regions/">
          <span class="emoji" role="img" aria-label="world map">🗺️</span>
          <span class="label"> Regions</span></a>
      </li>
    </ul>
  </nav>
</div>