<div class="container">
  <nav>
    <ul>
      <li>
        <strong>
          <a href="/">Non-League Grounds<wbr></a>
        </strong>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/grounds">
          <span class="emoji" role="img" aria-label="arena">🏟️</span> Grounds
        </a>
      </li>
      <li>
        <a href="/clubs">
          <span class="emoji" role="img" aria-label="football">⚽</span> Clubs</a>
      </li>
      <li>
        <a href="/leagues">
          <span class="emoji" role="img" aria-label="trophy">🏆</span> Leagues</a>
      </li>
      <li>
        <a href="/regions">
          <span class="emoji" role="img" aria-label="pushpin">📍</span> Regions</a>
      </li>
    </ul>
  </nav>
</div>