{% macro unsplash(metadata) %}
  <footer class="container-fluid">
    <div class="container">
      <small>
        Photo by <a href="https://unsplash.com/@{{ metadata.id }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">{{ metadata.author }}</a> 
        on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash ↗</a>
      </small>
    </div>
  </footer>
{% endmacro %}