
$green: #107C10;
$blue: #0000ff;

$subtitle-color: rgba(0,0,0,0.59);
$family-sans-serif: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

$title-family: 'Space Grotesk', sans-serif;
$title-strong-weight: 700;