$green: #107c10;
$blue: #3f00ff;

$subtitle-color: rgba(0, 0, 0, 0.59);
$family-sans-serif: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
  Arial, sans-serif;

$title-color: #212121;
$title-weight: 700;
