@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One:wght@400&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWYabdcefghiklmnopqrstuvwxyz()'");
@import url("https://fonts.googleapis.com/css?family=Noto+Emoji&display=swap&text=🏟️⚽🏆󠁧󠁢󠁷󠁬󠁳🐦󠁧󠁢󠁷󠁬󠁳🐝🪵🐦⛪🗡️󠁧󠁢󠁷󠁬󠁳🏃󠁧󠁢󠁷󠁬󠁳✈️󠁧󠁢󠁷󠁬󠁳🏁🐦🪨🐦󠁧󠁢󠁷󠁬󠁳🏃󠁧󠁢󠁷󠁬󠁳🦐🧲🐦🪨🔴󠁧󠁢󠁷󠁬󠁳🧤⛪🏖️🦌🔴󠁧󠁢󠁷󠁬󠁳⚔️󠁧󠁢󠁷󠁬󠁳😇🪖🦌󠁧󠁢󠁷󠁬󠁳🦭🐦󠁧󠁢󠁷󠁬󠁳󠁧󠁢󠁷󠁬🪖🐯🐂󠁧󠁢󠁷󠁬󠁳🌺󠁧󠁢󠁷󠁬󠁳👶🐦󠁧󠁢󠁷󠁬󠁳✋󠁧󠁢󠁷󠁬󠁳✈️🐶🏖️󠁧󠁢󠁷󠁬󠁳🧲🔴󠁧󠁢󠁷󠁬󠁳🐦🏖️󠁧󠁢󠁷󠁬󠁳🎯⚪󠁧󠁢󠁷󠁬󠁳🏠󠁧󠁢󠁷󠁬󠁳🦫🦅󠁧󠁢󠁷󠁬󠁳👑⚔️󠁧󠁢󠁷󠁬󠁳⭕󠁧󠁢󠁷󠁬󠁳✊😇🦚😇🦅🌎󠁧󠁢󠁷󠁬󠁳✊🏴󠁧󠁢󠁷󠁬󠁳󠁿🙏🏻🍞🎻🇷🇰🪄👦🚪♟️🎓🍷");

.emoji {
  font-family: "Noto Emoji", sans-serif;
  color: #000;
}

.hero {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

#club {
  background-image: url("../img/nicholas-green-nPz8akkUmDI-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

#ground {
  background-image: url("../img/fancy-crave-qowyMze7jqg-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

#league {
  background-image: url("../img/samuel-regan-asante-YOtjUyEfClo-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

#trophy {
  background-image: url("../img/ezequiel-garrido-s6XWkKDKynY-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

#home {
  h2 {
    flex-shrink: initial;
  }
}
