@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One:wght@400&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWYabdcefghiklmnopqrstuvwxyz()&amp;amp;'");
@import url("https://fonts.googleapis.com/css?family=Noto+Emoji&display=swap&text=🏟️⚽🏆󠁧󠁢󠁷󠁬󠁳🐦📍🐝🪵⛏️🔨🤠🐦⛪🗡️󠁧󠁢󠁷󠁬󠁳🏃🦁󠁧󠁢󠁷󠁬󠁳✈️󠁧󠁢󠁷󠁬󠁳🏁🪨🏃󠁧󠁢󠁷󠁬󠁳🦐🧲🐦🪨🧤⛪🏖️🦌⚔️󠁧󠁢󠁷󠁬󠁳😇🪖🦌󠁧󠁢󠁷󠁬󠁳🦭🐦󠁧󠁢󠁷󠁬󠁳󠁧󠁢󠁷󠁬🪖🐯🐂󠁧󠁢󠁷󠁬󠁳🌺󠁧󠁢󠁷󠁬󠁳👶🐦󠁧󠁢󠁷󠁬󠁳✋󠁧󠁢󠁷󠁬󠁳✈️🐶🏖️󠁧󠁢󠁷󠁬󠁳⛵🧲🔴󠁧󠁢󠁷󠁬󠁳🐦🏖️󠁧󠁢󠁷󠁬󠁳🎯⚪󠁧󠁢󠁷󠁬󠁳🏠󠁧󠁢󠁷󠁬󠁳🦫🦅󠁧󠁢󠁷󠁬󠁳👑⚔️󠁧󠁢󠁷󠁬☘️󠁳⭕󠁧󠁢󠁷󠁬󠁳✊😇🦚😇🦅🌎󠁧󠁢󠁷󠁬󠁳✊🏴󠁧󠁢󠁷󠁬󠁳󠁿🙏🏻🍞🎻🇷🇰🪄👦🚪♟️🎓🍷🔫");

@import "../../node_modules/@picocss/pico/scss/variables";

@import "../../node_modules/@picocss/pico/scss/themes/default";

@import "../../node_modules/@picocss/pico/scss/functions";

@import "../../node_modules/@picocss/pico/scss/components/nav";
@import "../../node_modules/@picocss/pico/scss/content/button";
@import "../../node_modules/@picocss/pico/scss/content/embedded";
@import "../../node_modules/@picocss/pico/scss/content/table";
@import "../../node_modules/@picocss/pico/scss/content/typography";
@import "../../node_modules/@picocss/pico/scss/layout/container";
@import "../../node_modules/@picocss/pico/scss/layout/document";
@import "../../node_modules/@picocss/pico/scss/layout/sectioning";
@import "../../node_modules/@picocss/pico/scss/layout/grid";
@import "../../node_modules/@picocss/pico/scss/layout/scroller";

.emoji {
  font-family: "Noto Emoji", sans-serif;
  color: #000;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #107c10;
  --primary-hover: #0b6a0b;
  --primary-focus: #8cbd18
  --primary-inverse: #ffffff;

  hgroup {
    h1 {
      font-family: "Rubik Mono One";
      background-color: #000;
      display: inline-block;
      padding: 0.25rem 0.75rem;
      font-weight: 900;
      text-transform: uppercase;
      max-width: 66vw;
      line-height: 2.5rem;
   }
    h2 {
      margin-top: 1rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.75);
      max-width: 50vw;

    }
  }
}

div.container-fluid {
  &:has(nav[aria-label="breadcrumb"]) {
      background-color: #f0f0f0;
  }
}

figure {
  text-align: center;
}

@media (min-width: 992px) {
  div.grid {
    grid-column-gap: 3rem;
    grid-template-columns: auto 40%;
  }
}

footer[data-theme="dark"] {
  background-color: #212121
}

th {
  font-weight: 500;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

:target {
  border: 2px solid #000000;
}
