<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    {%- block link %}{%- endblock %}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/styles.css">
    {%- block css -%}{%- endblock %}
    {%- block script %}{%- endblock %}
    <title>
      {%- if title %}{{ title }}
      {% else %}{{ meta.title }}
      {% endif -%}
    </title>
    {%- if env.eleventy == "production" %}
      <script defer data-domain="nonleaguegrounds.com" src="https://plausible.io/js/script.outbound-links.js"></script>
    {%- endif %}
  </head>
  <body class="has-navbar-fixed-top">
    {% include "nav.njk" %}
    <main>
      {% block breadcrumb %}{% endblock %}
      {% block header %}{% endblock %}
      {% block actions %}{% endblock %}
      <section class="section" id="main">
        {% block main %}{% endblock %}
      </section>
        {% block attribution %}{% endblock %}
    </main>
    {% include "footer.njk" %}
    <script src="/js/app.min.js" defer></script>
  </body>
</html>