---
pagination:
    data: clubs
    size: 1
    alias: club
permalink: "downloads/{{ club.name | slugify }}.vcf"
---
{% from "macros.njk" import fc %}

BEGIN:VCARD
VERSION:3.0
ORG: {{ club.alternateName | safe }}
NICKNAME: {{ club.slogan }}
BDAY: ----{{ club.foundingDate.@value }}
item1.ADR;type=WORK;type=pref:;;{{ club.location.name }};{{ club.location.address.streetAddress }};{{ club.location.address.addressLocality | upper }};{{ club.location.address.addressRegion}};{{ club.location.address.postalCode }};United Kingdom
item1.X-ABADR:gb
{%- if club.sameAs %}X-SOCIALPROFILE;type=twitter:{{ club.sameAs[0]}}{%- endif-%}
    {%- if club.logo -%}
LOGO;VALUE=URI;TYPE=PNG:{{ club.logo.contentURL }}
    {%- endif -%}
    {%- if club.url -%}
item2.URL;type=pref:{{club.url}}
item2.X-ABLabel:_$!<HomePage>!$_
{%- endif -%}
SOURCE:{{ meta.base }}/downloads/{{ club.name | slugify }}.vcf
END:VCARD