---
pagination:
    data: clubs
    size: 1
    alias: club
permalink: "/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}/index.html"
eleventyComputed:
    title: "{{ club.name | safe }} | {{ meta.title }}"
    description: "Information about {{ club.name }}, a {{club.keywords}} football club."
---
{% extends "base.njk" %}

{% from "emoji.macro.njk" import emoji %}
{% from "aerial.macro.njk" import aerial %}
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "hero.macro.njk" import hero %}
{% from "creative-commons.macro.njk" import creativeCommons %}
{% from "macros.njk" import staticmap %}

{% block link %}
  {%- if club.image %}
    <link rel="preload" as="image" href="{{ club.image.contentUrl.split(".")[0] }}.avif"/>
  {%- endif %}
  <link rel="canonical" href="{{ meta.base }}/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}">
{% endblock %}

{% block script %}
  <script type="application/ld+json">
    {{ club | dump | safe }}
  </script>
{% endblock %}

{% block css %}{% endblock %}

{% block header %}
  {% if club.image %}
    {% set src = club
      .image
      .contentUrl
      .split(".")[0] %}
  {% endif %}
  {{ hero(club.name, club.memberOf.name, src, type = "medium") }}
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Leagues", club.memberOf.name, club.name) }}
{% endblock %}

{% block main %}
  <main class="container">
    <div class="columns">
      <section class="column is-two-thirds">
        <h3 class="subtitle is-hidden-mobile">Overview</h3>
        <p class="block">
          <strong>
            {{- club.alternateName -}}
          </strong>
          is an {{ club.sport | lower }} club, based in {{ club.location.address.addressLocality }}
          {%- if club.location.address.addressRegion -%}
            , {{ club.location.address.addressRegion }}
          {%- endif -%}.
        </p>
        <p class="block">
          Founded {{ club.foundingDate | ago }} years ago in {{ club.foundingDate }}, the team currently compete in the
          <a href="/leagues/{{ club.memberOf.name | slugify }}">{{ club.memberOf.sponsor.name }}
            {{ club.memberOf.name }}</a>, 
            {%- if club.memberOf.additionalProperty %}
            the {{ club.memberOf.additionalProperty.@value | ordinal }} tier of English football
            {%- endif %}.
        </p>
        <p class="block">
          They play their home matches at 
          <a href="/regions/{{ club.areaServed.name | slugify }}/{{ club.location.name | slugify }}">{{ club.location.name }}</a>,
          and are nicknamed <strong>"{{ club.slogan }}"</strong>.
        </p>
        {% for url in club.sameAs %}
          {% if url.includes("twitter") %}
            {% set user = url.split("/")[3] %}
            <a href="https://twitter.com/intent/follow?{{ user }}?original_referer={{ meta.base | urlencode }}/&ref_src={{ "twsrc^tfw\|twcamp^buttonembed\|twterm^follow\|twgr^" | urlencode }}{{ user }}&region=follow_link&screen_name={{ user }}" class="button is-info is-responsive is-rounded has-text-weight-semibold">Follow @{{ user }}</a>
          {% endif %}
        {% endfor %}
      </section>
      <aside class="column is-one-third">
        <figure>
          <img src="{{ club.logo.contentUrl }}" width="{{ club.logo.width }}" height="{{ club.logo.height }}" alt="{{ club.logo.caption }}" style="text-align: center; margin-right: 1em; margin-bottom: 1rem;">
        </figure>

        <article class="box">
          <h4 class="heading">Full name</h4>
          <p class="block">{{ club.alternateName }}</p>
          <h4 class="heading">Nickname</h4>
          <p class="block">{{ club.slogan }}</p>
          <h4 class="heading">Founded</h4>
          <p class="block">
            <time datetime="YYYY">{{ club.foundingDate }}</time>
          </p>
          <h4 class="heading">Ground</h4>
          <p class="block">
            <a href="/regions/{{ club.areaServed.name | slugify }}/{{ club.location.name | slugify }}/">
              {{ club.location.name }}
            </a>
          </p>
          <h4 class="heading">Capacity</h4>
          <p class="block">{{ club.location.maximumAttendeeCapacity | commaNumber }}</p>
        </article>

        <table class="table">
          <tbody>
            <tr>
              <th scope="row">League</th>
              <td>
                <a href="/leagues/{{ club.memberOf.name | slugify }}">
                  {{ club.memberOf.name }}
                </a>
              </td>
            </tr>
            {% if club.url %}
              <tr>
                <th scope="row">Web</th>
                <td>
                  <a href="{{ club.url }}/" 
                    target="_blank" 
                    rel="noopener" 
                    hreflang="en-GB"
                  >
                    {{ club.url.slice(8) }} ↗ 
                  </a>
                </td>
              </tr>
            {% endif %}
            {% for url in club.sameAs %}
              {%- set network = url.split("/")[2].split(".")[0] if url.includes("twitter") else url.split("/")[2].split(".")[1] -%}
              {%- set user = url.split("/")[3] -%}
              <tr>
                <th scope="row">{{ network | capitalize }}</th>
                <td>
                  <a 
                    href="{{ url }}"
                    target="_blank"
                    rel="noopener canonical"
                    hreflang="en-US"
                  >@{{ user }} ↗ </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </aside>
    </div>
  </main>

{% endblock %}

{% block attribution %}
  {{ creativeCommons(club.image)}}
{% endblock %}