---
layout: base.njk
permalink: /club/index.html
title: Clubs
eleventyComputed:
    description: "A directory of {{ clubs.length }} non-league clubs, sorted alphabetically"
---
{% from "macros.njk" import emoji,
fc,
hero %}

{% set subtitle %}A directory of {{ clubs.length }} non-league clubs, sorted alphabetically{% endset %}
{{ hero("Clubs", subtitle, "club")}}

<main class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Club</th>
                <th scope="col">Ground</th>
                <th scope="col">League</th>
            </tr>
        </thead>
        {% for club in clubs | sort(attribute = "name") %}
            {% set region = "" %}
            {% for g in grounds %}
                {% if g.name == club.ground %}
                    {% set region = g.region %}
                {% endif %}
            {% endfor %}
            <tr>
                <th>
                    <a href="/club/{{ club.name | slugify }}">{{ club.name }}</a>
                </th>
                <td>
                    <a href="/ground/{{ region | slugify }}/{{ club.ground | slugify }}" class="secondary">{{ club.ground }}</a><br/>
                </td>
                <td>
                    {# Determine what league the club is in #}
                    {% for l in leagues %}
                        {% for c in l.clubs %}
                            {% if c.name == club.name %}
                                {{ l.name }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

</main>
<footer class="footer">
    <div class="container">
            Photo by <a href="https://unsplash.com/@nickxshotz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nicholas Green</a> on <a href="https://unsplash.com/s/photos/soccer-crowd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
</footer>