---
layout: base.njk
permalink: /club/index.html
title: Clubs
eleventyComputed:
    description: "A directory of {{ clubs.length }} non-league clubs, sorted alphabetically"
---
{% from "macros.njk" import fc %}
{% from "macros.njk" import emoji %}

<header class="container-fluid hero" id="club" data-theme="dark">
    <div class="container">
        <h1>Clubs</h1>
        <div class="grid">
            <p>
                <strong>A directory of {{ clubs.length }} non-league clubs, sorted alphabetically</strong>
            </p>
            <p></p>
        </div>
    </div>
</header>

<main class="container">
    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Club</th>
                <th scope="col">Ground</th>
                <th scope="col">League</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs | sort(attribute = "name") %}
                {% set region = "" %}
                {% for g in grounds %}
                    {% if g.name == club.ground %}
                        {% set region = g.region %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <th>
                        <a href="/club/{{ club.name | slugify }}">{{ club.name }}</a>
                    </th>
                    <td>
                        <a href="/ground/{{ region | slugify }}/{{ club.ground | slugify }}" class="secondary">{{ club.ground }}</a><br/>
                    </td>
                    <td>
                        {# Determine what league the club is in #}
                        {% for l in leagues %}
                            {% for c in l.clubs %}
                                {% if c.name == club.name %}
                                    {{ l.name }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
<footer class="container-fluid">
    <div class="container">
        <small>
            Photo by <a href="https://unsplash.com/@nickxshotz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nicholas Green</a> on <a href="https://unsplash.com/s/photos/soccer-crowd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </small>
    </div>
</footer>