---
pagination:
    data: clubs
    size: 1
    alias: club
permalink: "downloads/{{ club.name | slugify }}.vcf"
---
{% from "macros.njk" import fc %}

{%- set ground = "" -%}

{%- for g in grounds -%}
    {%- if g.name == club.ground -%}
        {%- set ground = g -%}
    {%- endif -%}
{%- endfor -%}

BEGIN:VCARD
VERSION:3.0
ORG: {{ fc(club.name) | replace("\n", "") | replace("        ", " ") | safe }}
NICKNAME: {{ club.nickname }}
BDAY: ----{{ club.founded }}
item1.ADR;type=WORK;type=pref:;;{{ ground.name }};{{ ground.street }};{{ ground.locality | upper }};{% county ground.postcode %};{{ ground.postcode }};United Kingdom
item1.X-ABADR:gb
{% if club.twitter -%}X-SOCIALPROFILE;type=twitter:http://twitter.com/{{ club.twitter | lower }}
{% endif -%}
{% if club.id -%}
LOGO;VALUE=URI;TYPE=PNG:https://media.api-sports.io/football/teams/{{club.id}}.png
{% endif -%}
{% if club.url -%}
item2.URL;type=pref:https://{{club.url}}
item2.X-ABLabel:_$!<HomePage>!$_
{% endif -%}
SOURCE:{{ meta.base }}/downloads/{{ club.name | slugify }}.vcf
END:VCARD