---
pagination:
    data: clubs
    size: 1
    alias: club
permalink: "/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}.vcf"
---
BEGIN:VCARD
VERSION:3.0
ORG: {{ club.alternateName | safe }};
NICKNAME: {{ club.slogan }}
BDAY: ----{{ club.foundingDate.@value | date("YYYY")}}
item1.ADR;type=WORK;type=pref:;{{ club.location.name }};{{ club.location.address.streetName }};{{ club.location.address.addressLocality | upper }};{{ club.location.address.addressRegion }};{{ club.location.address.postalCode }};United Kingdom
item1.X-ABADR:gb
{% if club.sameAs[0] -%}X-SOCIALPROFILE;type=twitter:{{ club.sameAs[0] | lower }}
{% endif -%}
{% if club.logo -%}
LOGO;VALUE=URI;TYPE=PNG:{{ club.logo.contentURL }}
{% endif -%}
GEO;TYPE=work:geo:{{ club.location.latitude}},{{ club.location.longitude }}
{% if club.url -%}
item2.URL;type=pref:{{club.url}}
item2.X-ABLabel:_$!<HomePage>!$_
{% endif -%}
SOURCE:{{ meta.base }}/{{ club.memberOf.name | slugify}}/{{ club.name | slugify }}.vcf
END:VCARD