---
permalink: /clubs/index.html
title: Clubs
preload: "nicholas-green-nPz8akkUmDI-unsplash.jpg"
date: git Last Modified
eleventyComputed:
    description: "A directory of {{ clubs.length }} non-league clubs, sorted alphabetically"
---
{% extends "base.njk" %}
{% from "unsplash.macro.njk" import unsplash %}
{% from "hero.macro.njk" import hero %}

{%- block link %}
  <link rel="preload" as="image" href="/img/{{ meta.hero['clubs'].src }}.jpg"/>
  <link rel="canonical" href="{{ meta.base }}/clubs">
{%- endblock %}

{%- block css %}{%- endblock %}

{% block header %}
  {{ hero("Clubs", description, meta.hero['clubs'].src) }}
{% endblock %}

{% block main %}
  <main class="container">
    <table class="{{ meta.class.table }}">
      <thead>
        <tr>
          <th scope="col">Club</th>
          <th scope="col">Ground</th>
          <th scope="col" class="is-hidden-mobile">League</th>
        </tr>
      </thead>
      <tbody>
        {% for club in clubs | sort(attribute = "name") %}
          <tr>
            <th scope="row">
              <a href="/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}">{{ club.name }}</a>
              {%- if env.eleventy == "development" %}
              {% if club.image %}
                <span class="tag is-success is-normal is-light">image</span>
              {% else %}
                <a class="button is-small is-link" target="_blank" rel="noopener" href="https://wordpress.org/openverse/search/?q={{ club.name | urlencode }}&license=by,by-sa,by-nd,by-nc,by-nc-sa,by-nc-nd">Search </a>
              {% endif %}
              {%- endif %}
            </th>
            <td>
              <a href="/regions/{{ club.areaServed.name | slugify }}/{{ club.location.name | slugify }}" class="secondary">{{ club.location.name }}</a>
            </td>
            <td class="is-hidden-mobile">
              {{ club.memberOf.name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </main>
  {{ unsplash(meta.hero["clubs"]) }}
{% endblock %}