---
layout: base.njk
pagination:
    data: grounds
    size: 1
    alias: ground
permalink: "/grounds/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}/index.html"
eleventyComputed:
    title: "{{ ground.name | safe }} | {{ meta.title }}"
    description: "Information about the non-league football ground, {{ ground.name }}, with maps, address and contact information."
---
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "hero.macro.njk" import hero %}

<script type="application/ld+json">
  {{ ground | json | safe }}
</script>
{# 
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "StadiumOrArena",
    "image": [
      "https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/{{ground.latitude}},{{ground.longitude}}/17?mapSize=320,320&query={{ground.name | urlencode}}&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}", "https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/{{ground.latitude}},{{ground.longitude}}/17?mapSize=568,320&query={{ground.name | urlencode}}&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}", "https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/{{ground.latitude}},{{ground.longitude}}/17?mapSize=426,320&query={{ground.name | urlencode}}&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}"
    ],
    "name": "{{ ground.name }}",
    "priceRange": "££",
    "maximumAttendeeCapacity": "{{ ground.capacity }}",
    "location": {
      "@type": "Place",
      "latitude": "{{ ground.latitude }}",
      "longitude": "{{ ground.longitude }}"
    },
    "identifier": {
      "@type": "url",
      "@id": "{{ meta.base }}/ground/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}"
    },
    "address": {
      "@type": "PostalAddress",
      {%- if ground.address.streetAddress %}"streetAddress": "{{ ground.address.streetAddress }}",{%- endif %}
      "addressLocality": "{{ ground.address.addressLocality }}",
      {%- if ground.address.addressRegion %}
        "addressRegion": "{{ ground.address.addressRegion }}",
      {%- endif %}
      "postalCode": "{{ ground.address.postalCode }}",
      "addressCountry": {
        "@type": "Country",
        "name": "{{ ground.address.addressCountry.name }}"
      }
    },
    {%- if ground.sponsor %}
      "sponsor": {
        "@type": "Organization",
        "name": "{{ ground.sponsor.name }}"
      },
    {%- endif %}
  }
</script> #}

{% set img %}
https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/{{ ground.latitude }},{{ ground.longitude }}/18?mapSize=1280,800&query={{ ground.name | urlencode }}&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}
{% endset %}
{% set alt %}
An aerial photograph of {{ ground.name }} in {{ ground.address.addressLocality }}, {{ ground.address.addressRegion }}
{% endset %}

{{ hero(ground.name, ground.areaServed.name, img, alt ) }}
{{ breadcrumb("Grounds", ground.areaServed.name, ground.name) }}

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-8 is-variable">
      <div class="column is-two-thirds">
        <p class="block is-size-5">
          <strong>{{ ground.name }}</strong>
          {%- if ground.sponsor %}, officially known as "{{ ground.sponsor.name | safe }}" for sponsorship reasons, {% endif %}
        is an {{ ground.subOrganization[0].sport | lower }} ground in {{ ground.address.addressLocality }}
          {%- if ground.address.addressRegion -%}
        , {{ ground.address.addressRegion }}
          {%- endif %} that holds {{ ground.maximumAttendeeCapacity | commaNumber }} people.
      </p>
        {% for club in ground.subOrganization %}
          <p class="block">
            {% if not loop.first %} 
            The ground is shared with 
            {% else %} 
            The ground is the home of
            {% endif %}
            <a href="/clubs/{{ club.name | safe | slugify }}">{{ club.alternateName }}</a>, 
            who currently compete in the <a href="/leagues/{{ club.memberOf.name | slugify }}">{{ club.memberOf.name }}</a>.</p>
        {% endfor %}
        <div class="buttons">
          <a 
            href="https://www.google.com/maps/search/?api=1&zoom=18&query={{ ground.subOrganization[0].alternateName | urlencode }},{{ ground.name | urlencode }},{{ ground.address.addressLocality | urlencode }},{{ ground.address.postalCode | urlencode }}&basemap=roadmap" 
            target="_blank" 
            class="button" 
            aria-label="Open in Google Maps">
            <span class="icon">
              <i class="fab fa-google"></i>
            </span>
            <span>Google Maps</span></a>
          <a 
            href="http://maps.apple.com/?q={{ ground.name | urlencode }}&sll={{ground.latitude}},{{ground.longitude}}&z=18&t=m"
            target="_blank" 
            class="button" 
            aria-label="Open in Apple Maps">
            <span class="icon">
              <i class="fab fa-apple"></i>
            </span>
            <span>Apple Maps</span>
          </a>
          <a 
            href="https://bing.com/maps/default.aspx?cp={{ground.latitude}}~{{ground.longitude}}&lvl=17&ss={{ ground.name | urlencode }}"
            target="_blank" 
            class="button" 
            aria-label="Open in Bing Maps">
            <span class="icon">
              <i class="fab fa-microsoft"></i>
            </span>
            <span>Bing Maps</span>
          </a>
          <a 
            href="http://www.openstreetmap.org/#map=18/{{ground.latitude}}/{{ground.longitude}}"
            target="_blank" 
            class="button" 
            aria-label="Open in Open Street Maps">
            <span class="icon">
              <i class="fas fa-map"></i>
            </span>
            <span>OpenStreetMap</span>
          </a>
        </div>

      </div>
      <div class="column is-one-third">
        <h3 class="heading">Address</h3>
        <address class="block">
          {%- if ground.sponsor %}
            {{ ground.sponsor.name | safe }}<br/>
          {% else %}
            {{ ground.name }}<br/>
          {%- endif %}
          {%- if ground.address.streetName %}
            {%- if ground.address.streetName != ground.name %}
              {{ ground.address.streetName }}
            {%- endif %}
          {%- endif %}
          {{ ground.address.addressLocality | upper }}<br/>
          {%- if ground.address.addressRegion %}
            {{ ground.address.addressRegion }}<br/>
          {%- endif %}
          {{ ground.address.postalCode | upper }}<br/>
        </address>
        <h3 class="heading">Nearby</h3>
        {% set count = 0%}
        <ul>
          {% for away in grounds %}
            {# Call distance shortcode to determine mile distance between 
              latitude and longitude of home and away grounds
            #}
            {% set distance %}
            {% distance
            ground.latitude,
            ground.longitude,
            away.latitude,
            away.longitude
 %}
            {% endset %}
            {# Select grounds within 10 mile radius #}
            {% if distance < 10 and away.name != ground.name %}
              <li>
                {% set count = count + 1 %}
                <a href="/grounds/{{ away.areaServed.name | slugify }}/{{ away.name | slugify }}">{{ away.name }}</a>
                <span class="tag">{{ distance | round(1) }} mi</span>
              </li>
            {% endif %}
          {% endfor %}

          {% if count == 0 %}
            <li>
              No grounds found within a 15 mile radius.
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>