---
pagination:
    data: grounds
    size: 1
    alias: ground
permalink: "/regions/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}/index.html"
eleventyComputed:
    title: "{{ ground.name | safe }} | {{ meta.title }}"
    description: "Information about the non-league football ground, {{ ground.name }}, with maps, address and contact information."
---
{% extends "base.njk" %}

{% from "macros.njk" import staticmap %}
{% from "aerial.macro.njk" import aerial %}
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "maps.macro.njk" import bing,
osm,
google,
apple %}

{% extends "base.njk" %}

{%- block preload %}
  <link rel="preload" as="image" href="{{ staticmap(ground.latitude + "," + ground.longitude, 'satellite', 17, 640, 240, 'jpg', 2, env.google_maps_api_key)}}"/>
{%- endblock %}

{% block css %}
  <style>
    {{aerial(ground, env.google_maps_api_key)}}
  </style>
{% endblock %}

{% block script %}
  <script type="application/ld+json">
    {{ ground | dump | safe }}
  </script>
{% endblock %}

{% block header %}
  <header 
    class="container-fluid hero" 
    id="{{ ground.name | slugify }}" 
    aria-labelledby="ground--{{ ground.name | slugify }}"
    data-theme="dark"
  >
    <div class="container">
      <hgroup>
        <h1 id="ground--{{ ground.name | slugify }}">
          {{ ground.name | replace(" ", "\n") | nl2br | safe }}
        </h1>
        <h2>
          Home of
          {%- for club in ground.subOrganization -%}
            {%- if not loop.first -%}
            , and
            {% endif %}
            {{ club.name -}}
          {%- endfor -%}
        </h2>
      </hgroup>
    </div>
  </header>
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Regions", ground.areaServed.name, ground.name) }}
{% endblock %}

{% block main %}
  <main class="container" itemscope itemtype="http://schema.org/StadiumOrArena">
    <div class="grid">
      <section>
        <h3>Overview</h3>
        <p>
          <strong itemprop="name">{{ ground.name }}</strong>
          {%- if ground.sponsor %}, officially known as <strong itemprop="alternateName">{{ ground.sponsor.name | safe }}</strong> for sponsorship reasons, {% endif %}
        is an {{ ground.subOrganization[0].sport | lower }} ground in {{ ground.address.addressLocality }}
          {%- if ground.address.addressRegion -%}
        , {{ ground.address.addressRegion }}
          {%- endif %} that holds <span itemprop="maximumAttendeeCapacity">{{ ground.maximumAttendeeCapacity | commaNumber }}</span> people.
      </p>
        {% for club in ground.subOrganization %}
          <p>
            {% if not loop.first %} 
            In addition, the ground is shared with 
            {% else %} 
            The ground is the home of
            {% endif %}
            <a href="/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | safe | slugify }}">{{ club.alternateName }}</a>, 
            who currently compete in the <a href="/leagues/{{ club.memberOf.name | slugify }}">{{ club.memberOf.name }}</a>.</p>
        {% endfor %}
        <figure>
          <img src="https://dev.virtualearth.net/REST/v1/Imagery/Map/AerialWithLabels/{{ground.latitude}},{{ground.longitude}}/18?mapSize=720,360&query={{ground.name | urlencode}}&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}"  alt="An aerial photograph of {{ ground.name }} in {{ ground.locality }}, {{ ground.region }}.">
          <figcaption>
            <small>Bing Maps view of {{ ground.name }}, {{ ground.address.addressLocality }}</small>
          </figcaption>
        </figure>
        <h4>Nearby grounds</h4>
        <ul>
          {% set count = 0%}
          {% for away in grounds %}
            {% set distance %}
            {% distance ground.latitude,
            ground.longitude,
            away.latitude,
            away.longitude %}
            {% endset %}
            {% if distance < 15 and away.name != ground.name %}
              <li>
                {% for club in clubs %}
                  {% if club.location.name == away.name %}
                    <a href="/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}">{{ club.name }}</a>
                    {% set count = count + 1 %}
                  {% endif %}
                {% endfor %} at 
                <a href="/regions/{{ away.areaServed.name | slugify }}/{{ away.name|slugify }}">{{ away.name }}</a>
                ({{ distance | round(1) }} mi)
              </li>
            {% endif %}
          {% endfor %}
          {% if count == 0 %}
            <li>
              No grounds found within a 10 mile radius.
          </li>
          {% endif %}
        </ul>
        <h4>Maps</h4>
        <ul>
          <li>
            <a 
            href="{{ google(ground) }}" 
            rel="noopener"
            target="_blank" 
            aria-label="Open in Google Maps">Google Maps</a>
          </li>
          <li>
            <a 
            href="{{ apple(ground) }}"
            rel="noopener"
            target="_blank" 
            aria-label="Open in Apple Maps">Apple Maps</a>
          </li>
          <li>
            <a 
            href="{{ bing(ground) }}"
            rel="noopener"
            target="_blank" 
            aria-label="Open in Bing Maps">Bing Maps</a>
          </li>
          <li>
            <a 
            href="{{ osm(ground) }}"
            rel="noopener"
            target="_blank" 
            aria-label="Open in Open Street Maps">OpenStreetMap</a>
          </li>
        </ul>
      </section>
      <aside>
        <h4>Information</h4>
        <table role="grid">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>
                {{ ground.name | safe }}
              </td>
            </tr>
            {% if ground.sponsor %}
              <tr>
                <th scope="row">Sponsor</th>
                <td>
                  {{ ground.sponsor.name | safe }}
                </td>
              </tr>
            {% endif %}
            {% if ground.address.streetAddress != ground.name %}
              <tr>
                <th scope="row">Street</th>
                <td>
                  {{ ground.address.streetAddress }}
                </td>
              </tr>
            {% endif %}
            <tr>
              <th scope="row">Town</th>
              <td>
                {{ ground.address.addressLocality | upper }}
              </td>
            </tr>
            <tr>
              <th scope="row">Postcode</th>
              <td>
                {{ ground.address.postalCode | upper }}
              </td>
            </tr>
          </tbody>
        </table>
        {% for club in ground.subOrganization %}
          <a href="/{{ club.memberOf.name | slugify }}/{{ club.name | slugify}}.vcf" role="button" download class="outline">Save to address book</a>
        {% endfor %}
      </aside>
    </div>
  </main>
{% endblock %}