---js
{
    layout: "base.njk",
    pagination: {
        data: "grounds",
        size: 30,
        before: function(data) {
            return data.sort((a,b) => a.maximumAttendeeCapacity - b.maximumAttendeeCapacity)
        },
        reverse: true,
    },
    permalink: "/grounds/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html",
    eleventyComputed: {
        title: "Non-League Grounds | Page {{ pagination.pageNumber + 1 }}",
        description: "A directory of {{ grounds.length }} English non-league grounds, sorted by capacity.",
        next: "{{ pagination.href.next }}",
        previous: "{{ pagination.href.previous }}",
    },
}
---
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "credit.macro.njk" import credit %}
{% from "hero.macro.njk" import hero %}

{{ hero("Grounds", "A directory of " + grounds.length | toWords + " non-league grounds, sorted by capacity", meta.image.ground, "A wide angle photo of a football ground, with players on the pitch under floodlights"  ) }}
{{ breadcrumb("Grounds") }}

<section class="section-desktop">
    <div class="container is-max-desktop">
        <table class="table is-fullwidth mt-3">
            <thead>
                <tr>
                    <th scope="col" class="is-hidden-mobile">Pos</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="is-hidden-mobile">Home of</th>
                    <th scope="col" class="has-text-right">
                    Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% macro calc(a, b) %}
                    {{ ((a * 10) + b) |  ordinal }}
                {% endmacro %}
                {% for ground in pagination.items | sort(attribute = "maximumAttendeeCapacity") | reverse %}
                    <tr id="{{ ground.name | slugify }}">
                        <td class="is-hidden-mobile">
                            {{ calc(pagination.pageNumber, loop.index) }}
                        </td>
                        <th class="has-text-weight-semibold" scope="row">
                            <a href="/grounds/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}">
                                {{ ground.name }}
                            </a>
                        </th>
                        <td class="is-hidden-mobile">
                            {% for team in ground.subOrganization %}
                                {{ team.name | safe }}
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td class="has-text-right">
                            {{ ground.maximumAttendeeCapacity | commaNumber }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous {% if not pagination.previous %}is-disabled{% endif %}" href="{{ pagination.href.previous }}" title="This is the first page">Previous</a>
            <a class="pagination-next {% if not pagination.next %}is-disabled{% endif %}" href="{{ pagination.href.next }}">Next page</a>
            <ul class="pagination-list">
                {% for href in pagination.hrefs %}
                    <li>
                        {% if loop.index0 == pagination.pageNumber %}
                            <a class="pagination-link is-current" aria-label="Page {{ loop.index }}" aria-current="page" href="{{ href }}">{{ loop.index }}</a>
                        {% else %}
                            <a class="pagination-link" aria-label="Go to page {{ loop.index }}" href="{{ href }}">{{ loop.index }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>

{{ credit("fancycrave", "Fancy Crave", "Soccer Ground") }}