---
layout: base.njk
permalink: /grounds/index.html
preload: "fancy-crave-qowyMze7jqg-unsplash.jpg"
date: git Last Modified
eleventyComputed:
    title: "Football Conference Leagues"
    description: "A directory of {{ grounds.length }} English non-league grounds, sorted by capacity."
---

<header class="container-fluid hero" id="ground" data-theme="dark">
    <div class="container">
        <h1>Grounds</h1>
        <div class="grid">
            <p>
                <strong>A directory of {{ grounds.length }} English non-league grounds, sorted by capacity</strong>
            </p>
            <p></p>
        </div>
    </div>
</header>

<main class="container">

    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Pos</th>
                <th scope="col">Name</th>
                <th scope="col">Club</th>
                <th scope="col">Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for ground in grounds | sort(attribute = "maximumAttendeeCapacity") | reverse %}
                <tr id="{{ ground.name | slugify }}">
                    <td>
                        {{ loop.index | ordinal }}
                    </td>
                    <th scope="row">
                        <a href="/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}">
                            {{ ground.name }}
                        </a>
                    </th>
                    <td>
                        {% for club in ground.subOrganization %}
                            <a href="/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}" class="secondary">{{ club.name }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {{ ground.maximumAttendeeCapacity | commaNumber }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<footer class="container-fluid">
    <div class="container">
        <small>Photo by <a href="https://unsplash.com/@fancycrave?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fancy Crave</a> on <a href="https://unsplash.com/s/photos/soccer-ground?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </small>
    </div>
</footer>