---
permalink: /grounds.yml
---
{%- for ground in grounds %}
- name: {{ ground.name }}
  {% if ground.sponsor -%}
  sponsor: {{ ground.sponsor }}
  {% endif -%}
  {% if ground.street -%}
  street: {{ ground.street }}
  {% endif -%}
  locality: {{ ground.locality }}
  region: {{ ground.region }}
  {% if ground.postcode -%}
  postcode: {{ ground.postcode }}
  {% endif -%}
  capacity: {{ ground.capacity }}
  {% if ground.surface -%}
  surface: {{ ground.surface }}
  {% endif -%}
  latitude: {% latitude ground.postcode | replace(" ", "") %}
  longitude: {% longitude ground.postcode | replace(" ", "") %}
{% endfor %}