---
pagination:
    data: grounds
    size: 1
    alias: ground
permalink: "/regions/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}/index.html"
eleventyComputed:
    title: "{{ ground.name | safe }} | {{ meta.title }}"
    description: "Information about the non-league football ground, {{ ground.name }}, with maps, address and contact information."
---
{% extends "./_layouts/base.njk" %}

{% from "macros.njk" import staticmap %}
{% from "aerial.macro.njk" import aerial %}
{% from "breadcrumb.macro.njk" import breadcrumb %}

{% from "maps.macro.njk" import bing,
osm,
google,
apple %}

{% extends "./_layouts/base.njk" %}

{%- block link %}
  <link rel="canonical" href="{{ meta.base }}/regions/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}">
{%- endblock %}

{% block css %}{% endblock %}

{% block script %}
  <script type="application/ld+json">
    {{ ground | dump | safe }}
  </script>
{% endblock %}

{% block actions %}
  <section class="container pt-3">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <a href="{{ google(ground) }}" rel="noopener" target="_blank" class="button is-white" aria-label="Open in Google Maps">
            <span class="icon is-google">
              <i class="fab fa-google"></i>
            </span>
            <span>Google Maps</span>
          </a>
        </div>
        <div class="level-item">
          <a href="{{ apple(ground) }}" rel="noopener" target="_blank" class="button is-white" aria-label="Open in Apple Maps">
            <span class="icon is-apple">
              <i class="fab fa-apple"></i>
            </span>
            <span>Apple Maps</span>
          </a>
        </div>
        <div class="level-item">
          <a href="{{ bing(ground) }}" rel="noopener" target="_blank" class="button is-white" aria-label="Open in Bing Maps">
            <span class="icon is-microsoft">
              <i class="fab fa-microsoft"></i>
            </span>
            <span>Bing Maps</span>
          </a>
        </div>
        <div class="level-item">
          <a href="{{ osm(ground) }}" rel="noopener" target="_blank" class="button is-white" aria-label="Open in Open Street Maps">
            <span class="icon is-openstreetmap">
              <i class="fa-solid fa-map"></i>
            </span>
            <span>OpenStreetMaps</span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block header %}
  {%- set url -%}https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/{{- ground.latitude }},{{ ground.longitude -}}/19?mapSize=2000,1000&mapLayer=Basemap,Buildings&format=jpeg&mapMetadata=0&key={{ env.bing_maps_api_key }}{%- endset -%}
  <section class="hero is-white is-medium has-background">
    {# 640, 768, 1024, 1366, 1600, 1920 #}
    {% image url, [640, 768, 1024, 1366, 1600], ["avif", "jpeg"], ground.name, "100vw", "grounds" %}
    <div class="hero-body">
      <div class="container has-text-left">
        <h1 class="title has-background-white is-inline-block has-text-weight-bold p-4 is-size-2">{{ ground.name | safe }}</h1>
      </div>
    </div>
  </section>
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Regions", ground.areaServed.name, ground.name) }}
{% endblock %}

{% block main %}
  <div class="container is-max-desktop">
    <div class="columns is-variable is-8">
      <section class="column is-two-thirds">
        <p class="block is-size-5">
          <strong>{{ ground.name }}</strong>
          {%- if ground.sponsor %}, officially known as <strong>{{ ground.sponsor.name | safe }}</strong> for sponsorship reasons, {% endif %}
        is an {{ ground.subOrganization[0].sport | lower }} ground in {{ ground.address.addressLocality }}
          {%- if ground.address.addressRegion -%}
        , {{ ground.address.addressRegion }}
          {%- endif %} that holds {{ ground.maximumAttendeeCapacity | commaNumber }} people.
      </p>
        {% for club in ground.subOrganization %}
          <p class="block">
            {% if not loop.first %} 
            In addition, the ground is shared with 
            {% else %} 
            The ground is the home of
            {% endif %}
            <a href="/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | safe | slugify }}">{{ club.alternateName }}</a>, 
            who currently compete in the <a href="/leagues/{{ club.memberOf.name | slugify }}">{{ club.memberOf.name }}</a>.
          </p>
        {% endfor %}

        <figure class="mb-6">
          <figure class="image is-16by9 mt-4 mb-2">
            {# 640, 768, 1024, 1366, 1600, 1920 #}
            {% set url %}{% staticmap ground.latitude +"," + ground.longitude, 640, 360, 16, 2 %}{% endset %}
            <!-- source: {{ url | safe }} -->
            {% image url, [640, 768, 1024], ["webp", "png"], ground.name, "50vw", "maps", "hero-background is-transparent" %}
          </figure>
          <figcaption>
            <p class="heading">Google map view of {{ ground.alternateName if ground.alternateName else ground.name }}</p>
          </figcaption>
        </figure>
        
        {%- if ground.description %}
          <h4 class="is-size-5 has-text-weight-semibold">More information</h4>
          {%- for p in ground.description.split(". ") %}
          <p class="block">{{ p | safe }}{% if not loop.last %}. {% endif %}</p>
          {%- endfor %}
          {% if ground.mainEntityOfPage %}
            <article class="message is-info">
              <div class="message-body is-size-6">
                Learn more about {{ ground.name }} at
                <a href="{{ ground.mainEntityOfPage }}" rel="external noopener" target="_blank">
                  <span>{{ ground.mainEntityOfPage.split("/")[2] }}</span>
                  <span class="icon"><i class="fa fa-external-link"></i></span>
                </a>
            </div>
          </article>
        {% endif %}
        {%- endif %}
      </section>
      <aside class="column is-one-third">
        {%- for club in ground.subOrganization %}
          <h4 class="heading">Address</h4>
          <p class="has-text-weight-semibold"> {{ club.alternateName }}</p>
          {%- if ground.sponsor %}
            <p>{{ ground.sponsor.name | safe }}</p>
          {%- else %}
            <p>{{ ground.name | safe }}</p>
          {%- endif %}       
          {%- if ground.address.streetAddress != ground.name %}
            <p>{{ ground.address.streetAddress }}</p>
          {%- endif %}
          <p>{{ ground.address.addressLocality | upper }}</p>
          <p>{{ ground.address.postalCode | upper }}</p>
          <div class="buttons py-3">
            <a href="/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify}}.vcf" class="button is-link is-outlined" download>
              <span class="icon">
                <i class="fa-solid fa-address-book"></i>
              </span>
              <span>Save to contacts</span>
            </a>
          </div>
        {% endfor %}
      </aside>
    </div>
  </div>

{% endblock %}