---
layout: base.njk
---
{% from "macros.njk" import hero %}
{{ hero (meta.title, meta.description, "league")}}

{% for league in leagues %}
    <section id="{{ league.name | slugify }}" class="section">
        <h2 class="is-title">{{ league.name }}</h2>
        <div class="columns">
            {% for column in league.clubs | batch(6)%}
                <ul class="column is-2 {% if loop.first %}is-offset-1{% endif %}">
                    {% for team in column %}
                        <li>
                            <a href="/club/{{ team.name | slugify }}/">{{ team.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>

{% endfor %}