---
date: git Last Modified
---
{% extends "./_layouts/base.njk" %}
{% from "unsplash.macro.njk" import unsplash %}
{% from "hero.macro.njk" import hero %}

{%- block link %}
{%- endblock %}

{%- block css %}{%- endblock %}

{% block header %}
  {{ hero(meta.title, meta.description, "./src/_assets/img/unsplash/" + meta.hero['home'].src, "halfheight" ) }}
{% endblock %}

{% block main %}
  <section class="section has-background">
    <div class="columns">

      <div class="column is-one-third">
        <h3 class="is-size-4 has-text-weight-semibold">Leagues</h3>
        <p class="is-size-6 mb-5 mt-3 has-text-dark-grey">
          From the <strong>{{ leagues[0].name }}</strong> to the 
          <strong>{{ leagues[leagues.length -1].name }}</strong>, 
          a directory of {{ leagues.length }} English football conference 
          leagues.
        </p>
        <p class="block">
          <a href="/leagues" class="is-link has-text-weight-semibold">View all leagues →</a>
        </p>
      </div>

      <div class="column is-one-third">
        <h3 class="is-size-4 has-text-weight-semibold">Grounds</h3>
        <p class="is-size-6 mb-5 mt-3 has-text-dark-grey">
          Leading with the {{ grounds[0].maximumAttendeeCapacity | commaNumber }}-capacity
          home of <strong>{{ grounds[0].subOrganization[0].name }}</strong>, 
          a list of {{ grounds.length }} English and Welsh non-league grounds.
        </p>
        <p class="block">
          <a href="/grounds" class="is-link has-text-weight-semibold">View all grounds →</a>
        </p>
      </div>

      <div class="column is-one-third">
        <h3 class="is-size-4 has-text-weight-semibold">Regions</h3>
        <p class="is-size-6 mb-5 mt-3 has-text-dark-grey">
          From the <strong>North East</strong> to the <strong>South West</strong>, 
          a directory of clubs in the {{ regions.length }} regions of 
          England and Wales.
        </p>
        <p class="block">
          <a href="/regions" class="is-link has-text-weight-semibold">View all regions →</a>
        </p>
      </div>

    </div>
  </section>

  {{ unsplash(meta.hero["clubs"]) }}
{% endblock %}