---
layout: base.njk
pagination:
    data: leagues
    size: 1
    alias: league
permalink: "league/{{ league.name | slugify }}/index.html"
eleventyComputed:
    title: "Clubs in the {{ league.sponsor | safe }} {{ league.name | safe }}"
    description: The {{ league.sponsor }} {{ league.name }} is the {{ league.tier | ordinal }} tier of the English football pyramid, with a total of {{ league.clubs.length }} clubs"
---
{% from "macros.njk" import emoji %}

{%- set markers -%}
{%- for club in league.clubs -%}
    {%- for c in clubs -%}
        {%- if c.name == club.name -%}
            {%- for g in grounds -%}
                {%- if c.ground == g.name -%}
                    &markers=size:mid|label:{{club.name.slice(0,1) | upper }}|{{ g.latitude }},{{ g.longitude }}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{%- endset -%}
{%- set key = env.google_maps_api_key -%}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SportsOrganization",
        "name": "{{ league.name }}",
        "alternateName": "{{ league.sponsor }} {{ league.name }}",
        "sponsor": "{{ league.sponsor }}",
        "url": "https://{{ league.url }}",
        "identifier": {
            "@type": "url",
            "@value": "{{ meta.base }}/league/{{ league.name | slugify }}"
        },    
    }
</script>

{% from "macros.njk" import hero %}
{% set title %}
{{ league.sponsor }} {{ league.name }}
{% endset %}

{% set subtitle %}
The {{ league.name }} is at the {{ league.tier | ordinal }} tier of the English football pyramid, with a total of {{ league.clubs.length }} clubs
{% endset %}
{{ hero (title, subtitle, "league")}}

<main id="{{ league.name | slugify }}">
    <section class="section">
    <div class="container">
        <table class="table is-full-width is-striped">
            <thead>
                <tr>
                    <th scope="col">Club</th>
                    <th scope="col" class="is-hidden-mobile">Nickname</th>
                </tr>
            </thead>
            <tbody>
                {% for club in league.clubs %}
                    <tr>
                        <th>
                            <a href="/club/{{ club.name | slugify }}">{{ club.name }}</a>
                        </th>
                        {% for c in clubs %}
                            {% if c.name == club.name %}
                                <td class="is-hidden-mobile">
                                    {% if c.nickname %}
                                    <span class="emoji">{{ emoji(c.nickname) }}</span> {{ c.nickname }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <figure class="image is-1x1">
            {% set caption = "Map of " + league.name + " clubs" %}
            <figcaption>
                {{ caption }}
            </figcaption>
            <img src="https://maps.googleapis.com/maps/api/staticmap?size=640x640&scale=2&markers={{ markers }}&key={{key}}" alt="{{ caption }}">
        </figure>
    </div>
    </section>
    <footer class="footer">
        Photo by <a href="https://unsplash.com/@fkaregan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Samuel Regan-Asante</a> on <a href="https://unsplash.com/s/photos/non-league?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </footer>
</main>