---
pagination:
    data: leagues
    size: 1
    alias: league
permalink: "/leagues/{{ league.name | slugify }}/index.html"
eleventyComputed:
    title: "Clubs in the {{ league.alternateName | safe }}"
    description: The {{ league.alternateName }} is the {{ league.additionalProperty.value | int | ordinal }} tier of the English football pyramid, with a total of {{ league.members.length }} clubs"
---
{% extends "base.njk" %}
{% from "macros.njk" import emoji %}
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "unsplash.macro.njk" import unsplash %}

{%- set markers -%}
{%- for club in league.members -%}
   &markers=size:mid|label:{{club.name.slice(0,1) | upper }}|{{ club.location.latitude }},{{ club.location.longitude }}
{%- endfor -%}
{%- endset -%}
{%- set key = env.google_maps_api_key -%}

{%- block link %}
  <link rel="preconnect" href="https://maps.googleapis.com" />
  <link rel="preload" as="image" href="/img/{{ meta.hero['leagues'].src }}.jpg"/>
  <link rel="canonical" href="{{ meta.base }}/leagues/{{ league.name | slugify }}">
{%- endblock %}

{%- block css %}
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One:wght@400&display=swap&text={{ league.alternateName | replace(' ', '') | upper }}");
    header {
      background-image: url("/img/{{ meta.hero['leagues'].src }}.jpg");
    };
  </style>
{%- endblock %}

{%- block script %}
  <script type="application/ld+json">
    {{ league | dump | safe }}
  </script>
{%- endblock %}

{% block header %}
<header class="container-fluid hero" data-theme="dark">
  <div class="container">
    <hgroup>
    <h1>{{ league.alternateName }}</h1>
        <h2>
          The {{ league.name }} is at the {{ league.additionalProperty.value | int | ordinal }} tier of the
          English football pyramid, with a total of
          {{ league.members.length }} clubs
        </h2>
    </hgroup>
  </div>
</header>
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Leagues", league.name) }}
{% endblock %}


{% block main %}
<main class="container">
  <div class="grid">
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Club</th>
          <th scope="col">Nickname</th>
        </tr>
      </thead>
      <tbody>
        {%- for club in league.members %}
          <tr>
            <th scope="row">
              <a href="/leagues/{{ league.name | slugify }}/{{ club.name | slugify }}">
                {{- club.name -}}
              </a>
            </th>
            <td>
              <span class="emoji">
                {{- emoji(club.slogan) -}}
              </span>
              {{ club.slogan -}}
            </td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
    <figure class="container-fluid">
      {% set caption = "Map of " + league.name + " clubs" %}
      <img 
        src="https://maps.googleapis.com/maps/api/staticmap?size=640x640&scale=2&markers={{ markers }}&key={{key}}" 
        alt="{{ caption }}"
      >
      <figcaption>
        <small>
          {{- caption -}}
        </small>
      </figcaption>
    </figure>
  </div>
</main>
  {{ unsplash(meta.hero["leagues"]) }}
{% endblock %}