---
layout: "base.njk"
permalink: "/leagues/"
eleventyComputed: 
    title: "Non-League Grounds | Leagues"
    description: "A directory of {{ leagues.length }} English football leagues and divisions."
---

{% from "hero.macro.njk" import hero %}
{% from "credit.macro.njk" import credit %}
{% from "breadcrumb.macro.njk" import breadcrumb %}

{{ hero("Leagues", "A directory of " + leagues.length + " English football leagues and divisions, sorted by tier", meta.image.trophy, "Various gold trophies of different sizes"  ) }}
{{ breadcrumb("Leagues") }}

<section class="section">
    <div class="container is-max-desktop">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th scope="col" class="is-hidden-mobile">Tier</th>
                    <th scope="col">Sponsor</th>
                    <th scope="col" class="has-text-centered">Clubs</th>
                </tr>
            </thead>
            <tbody>
                {% for league in leagues | sort(attribute = "additionalProperty.@value") %}
                    <tr id="{{ ground.name | slugify }}">
                        <td class="is-hidden-mobile">
                            {{ league.additionalProperty.@value | ordinal }}
                        </td>
                        <th class="has-text-weight-semibold" scope="row">
                            <a href="/leagues/{{ league.name | slugify }}">
                                <span class="is-hidden-mobile">{{ league.sponsor.name }}</span>
                                {{ league.name }}
                            </a>
                        </th>
                        <td class="has-text-centered">
                            {{ league.members.length }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{{ credit("arielbesagar", "Ariel", "Trophies") }}