---
layout: "base.njk"
permalink: "/leagues/"
eleventyComputed: 
    title: "Non-League Grounds | Leagues"
    description: "A directory of {{ leagues.length }} English football leagues and divisions."
---

{% from "credit.macro.njk" import credit %}
{% from "breadcrumb.macro.njk" import breadcrumb %}

<section class="hero is-medium is-dark has-background">
    {% hero "./src/" + meta.image.trophy,
    "Various gold trophies of different sizes" %}
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h1 class="title is-size-1 is-size-2-tablet is-size-3-mobile has-text-weight-bold has-text-left">
            Leagues
          </h1>
                    <h2 class="subtitle is-size-4 is-size-5-tablet is-size-6-mobile has-text-left">
           A directory of {{leagues.length }}  English football leagues and divisions, sorted by tier.
          </h2>
                </div>
            </div>
        </div>
    </div>
</section>

{{ breadcrumb("Leagues") }}

<section class="section">
    <div class="container is-max-desktop">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th scope="col" class="is-hidden-mobile">Tier</th>
                    <th scope="col">Sponsor</th>
                    <th scope="col" class="has-text-centered">Clubs</th>
                </tr>
            </thead>
            <tbody>
                {% for league in leagues | sort(attribute = "additionalProperty.@value") %}
                    <tr id="{{ league.name | slugify }}">
                        <td class="is-hidden-mobile">
                            {{ league.additionalProperty.@value | ordinal }}
                        </td>
                        <th  scope="row">
                            <h3 class="has-text-weight-semibold">
                                <a href="/leagues/{{ league.name | slugify }}">
                                    <span class="is-hidden-mobile">{{ league.sponsor.name }}</span>
                                    {{ league.name }}
                                </a>
                            </h3>
                        </th>
                        <td class="has-text-centered">
                            {{ league.members.length }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{{ credit("arielbesagar", "Ariel", "Trophies") }}