---
pagination:
    data: leagues
    size: 1
    alias: league
permalink: "/leagues/{{ league.name | slugify }}/index.html"
eleventyComputed:
    title: "Clubs in the {{ league.alternateName | safe }}"
    description: "The {{ league.name }} is at the {{ league.additionalProperty.value | int | ordinal }} tier of the English football pyramid, with a total of {{ league.members.length }} clubs"
---
{% extends "./_layouts/base.njk" %}

{% from "emoji.macro.njk" import emoji %}
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "hero.macro.njk" import hero %}
{% from "unsplash.macro.njk" import unsplash %}
{% from "club-card.macro.njk" import clubCard %}

{%- set markers -%}
{%- for club in league.members -%}
   &markers=size:mid|label:{{club.name.slice(0,1) | upper }}|{{ club.location.latitude }},{{ club.location.longitude }}
{%- endfor -%}
{%- endset -%}
{%- set key = env.google_maps_api_key -%}

{%- block link %}
  <link rel="preconnect" href="https://maps.googleapis.com"/>
  <link rel="preload" as="image" href="/img/{{ meta.hero['leagues'].src }}.jpg"/>
  <link rel="canonical" href="{{ meta.base }}/leagues/{{ league.name | slugify }}">
{%- endblock %}

{%- block css %}
  {# <style>
    {%- for club in league.members %}
    .card#{{ club.name | slugify }}  {
      background: linear-gradient(
         315deg, 
      {% if club.owns.color.length == 1 %} 
        {{ club.owns.color[0] }} 0rem, 
        {{ club.owns.color[0] }} 4.25rem, 
        #fff 4.25rem, 
        #fff 100% 
      {% elif club.owns.color.length == 2 %} 
        {{ club.owns.color[0] }} 0rem, 
        {{ club.owns.color[0] }} 2rem, 
        {{ club.owns.color[1] }} 2rem, 
        {{ club.owns.color[1] }} 4.00rem, 
        {{ club.owns.color[0] }} 4.00em, 
        {{ club.owns.color[0] }} 4.25rem, 
        #fff 4.25rem, 
        #fff 100% 

      {% elif club.owns.color.length == 3 %} 
        {{ club.owns.color[0] }} 0rem, 
        {{ club.owns.color[0] }} 2rem, 
        {{ club.owns.color[1] }} 2rem, 
        {{ club.owns.color[1] }} 4.00rem, 
        {{ club.owns.color[2] }} 4.00rem, 
        {{ club.owns.color[2] }} 4.25rem, 
        #fff 4.25rem, 
        #fff 100% 
      {% endif %}
    );
  } 
{%- endfor %}
  </style>
  #}
{%- endblock %}

{%- block script %}
  <script type="application/ld+json">
    {# {{ league | dump | safe }} #}
  </script>
{%- endblock %}

{% block header %}
  {%- set subtitle %}
    The {{ league.name }} is at the {{ league.additionalProperty.value | int | ordinal }} tier of the English football pyramid, with a total of {{ league.members.length }} clubs
  {%- endset %}
  {{- hero(league.alternateName, description, meta.hero['leagues'].src) }}
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Leagues", league.name) }}
{% endblock %}

{% block main %}
  <div class="container is-max-desktop">
    {% for clubs in league.members | sort(attribute = "name") | batch(3) %}
    <div class="columns">
      {% for club in clubs %}
        <div class="column is-one-third">
          <script type="application/ld+json">
            {{ club | dump | safe }}
          </script>

          <div class="card card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y" id="{{ club.name | slugify }}">
            <a href="/leagues/{{ league.name | slugify }}/{{ club.name | slugify }}">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    {% image club.logo.contentUrl, [48,96], ["webp", "png"], club.name, "48px", "crests" %}
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-6 mt-1">{{ club.name }}</p>
                  <p class="subtitle is-6">{{ club.slogan }}</p>
                </div>
              </div>
            </div>
            </a>
          </div>
          </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {{ unsplash(meta.hero["leagues"]) }}
{% endblock %}

