---
permalink: "/css/maps.css"
---
{% from "macros.njk" import staticmap as google %}

{% for ground in grounds %}
    {%- set address -%}
    {{ground.name | urlencode}},{{ ground.locality | urlencode}},{{ground.region | urlencode}},{{ground.postcode | urlencode}}
    {%- endset -%}
    {%- set maptype = "satellite" -%}
    {%- set zoom = 16 -%}
    {%- set width = 1280 -%}
    {%- set height = 320 -%}
    {%- set format = "jpg" -%}
    {%- set key = env.google_maps_api_key -%}

/* {{ground.name}} */
header#{{ ground.name | slugify}} {
    background-image:  url("{{google(address, maptype, zoom, width, height, format, 1, key)}}");
    background-image: -webkit-image-set(
        url("{{google(address, maptype, zoom, width, height, format, 1, key)}}") 1x,
        url("{{google(address, maptype, zoom, width, height, format, 2, key)}}") 2x
    );
    background-image: image-set(
        url("{{google(address, maptype, zoom, width, height, format, 1, key)}}") 1x,
        url("{{google(address, maptype, zoom, width, height, format, 2, key)}}") 2x
    );
}

{% endfor %}