---
permalink: /pa11y.json
meta:
    base: http://localhost:8080
---
{
    "urls": [
        "{{ meta.base }}",
        {%- for index in ["grounds", "regions", "clubs", "leagues"] %}
        "{{ meta.base }}/{{ index }}",
        {%- endfor %}
        {%- for club in clubs | sort(attribute="memberOf.name" | sort(attribute = "name"))  -%}
        "{{ meta.base }}/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}",
        {%- endfor %}
        {%- for ground in grounds | sort(attribute = "areaServed.name") | sort(attribute = "name") -%}
        "{{ meta.base }}/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}",
        {%- endfor %}
        {%- for league in leagues | sort(attribute = "additionalProperty.@value") -%}
        "{{ meta.base }}/{{ league.name | slugify }}",
        {%- endfor %}
    ]
}