---
permalink: /photos/index.html
title: Photos
date: Last Modified
eleventyComputed:
    description: "Credits for the Creative Commons photos used on this site."
---
{% extends "./_layouts/base.njk" %}
{% from "hero.macro.njk" import hero %}

{%- block link %}
  <link rel="canonical" href="{{ meta.base }}/photos">
{%- endblock %}

{%- block css %}{%- endblock %}

{% block header %}
  {{ hero("Photos", description, meta.hero['clubs'].src) }}
{% endblock %}

{% block main %}
  <main class="container">
    {% for batch in photos | batch(3) %}
      <div class="columns">
        {% for photo in batch %}
          {% set image = photo.image %}
            <div class="column">
              <script type="application/ld+json">
                {{ image | dump | safe }}
              </script>
              {% set height = (1280 / image.width) * image.height | int %}
              {% set ratio %}
              {% if height > 1256 and height < 1304 %}
                is-1by1
              {% elif height > 1000 and height < 1048 %}
                is-5by4
              {% elif height > 936 and height < 984 %}
                is-4by3
              {% elif height > 830 and height < 878 %}
                is-3by2
              {% elif height > 744 and height < 792 %}
                is-5by3
              {% elif height > 696 and height < 744 %}
                is-16by9
              {% elif height > 616 and height < 664 %}
                is-2by1
              {% else %}
                is-{{ image.width }}x{{ image.height }}
              {% endif %}
              {% endset %}
              <figure>
                <figure class="image {{ ratio -}}">
                  {# 640, 768, 1024, 1366, 1600, 1920 #}
                  {% image "./src/_assets/img/flickr/" + image.contentUrl, [640, 768, 1024, 1366, 1600], ["avif", "jpeg"], image.about, "33vw", "clubs" %}
                </figure>
                <figcaption class="mt-3 mb-6">
                  <p class="has-text-weight-bold">
                      {{ image.about | safe }}
                  </p>
                  <p class="is-size-7">
                    <a href="https://www.flickr.com/photos/{{ image.creator.identifier }}" class="has-text-danger">{{ image.creator.name }}</a> on 
                    <a href="https://www.flickr.com/photos/{{ image.creator.identifier }}/{{ image.identifier }}" class="has-text-danger">Flickr ↗</a>
                  </p>
                  {%- if image.license %}
                    <p class="is-size-7 has-text-weight-bold">
                      {% set license = 
                        image
                        .license
                        .split("/") %}
                      <a href="{{ image.license }}" class="has-text-dark">CC-{{ license[4] | upper }}-{{ license[5] | upper }} ↗</a>
                    </p>
                  {%- endif %}
                </figcaption>
              </figure>
            </div>
        {% endfor %}
      </div>
    {% endfor %}
  </main>
{% endblock %}