---
pagination:
    data: regions
    size: 1
    alias: region
permalink: "/regions/{{ region.name | slugify }}/index.html"
eleventyComputed:
    title: "Clubs in the {{ region.name | safe }}"
    description: "Overview of non-league clubs of {{ region.alternateName | safe }}, with a total of {{ region.geoContains.length }} clubs"
---
{% extends "base.njk" %}
{% from "unsplash.macro.njk" import unsplash %}
{% from "breadcrumb.macro.njk" import breadcrumb %}
{% from "hero.macro.njk" import hero %}

{%- block link %}
  <link rel="preload" as="image" href="/img/{{ meta.hero['regions'].src }}.jpg"/>
  <link rel="canonical" href="{{ meta.base }}/regions/{{ region.name | slugify }}/">
{%- endblock %}

{%- block css %}{%- endblock %}

{% block script %}
  <script type="application/ld+json">
    {{ region | dump | safe}}
  </script>
{% endblock %}

{% block header %}
  {% set title = region.name %}
  {%- set subtitle %}
  {{- region.alternateName | first | upper }}{{ region.alternateName.slice(1) }}
  {% if region
    .alternateName
    .slice(-1) == "s" %} are {% else %} is {% endif %} at the heart of the non-league pyramid, with a total of {{ region.geoContains.length }} clubs.
  {%- endset %}
  {{ hero(title, subtitle, meta.hero['regions'].src) }}
{% endblock %}

{% block breadcrumb %}
  {{- breadcrumb("Regions", region.name) }}
{% endblock %}

{% block main %}
  <main class="container">
    <div class="grid">
      <table class="{{ meta.class.table }}">
        <thead>
          <tr>
            <th scope="col">Ground</th>
            <th scope="col">Club</th>
          </tr>
        </thead>
        <tbody>
          {%- for ground in region.geoContains %}
            <tr>
              <th scope="row">
                <a href="/regions/{{ region.name | slugify }}/{{ ground.name | slugify }}">
                  {{- ground.name -}}
                </a>
              </th>
              <td>
                <a href="/leagues/{{ ground.subOrganization.memberOf.name | slugify }}/{{ ground.subOrganization.name | slugify }}" class="secondary">
                  {{- ground.subOrganization.name -}}
                </a>
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <figure class="container-fluid">
        {%- set markers -%}
        {%- for ground in region.geoContains -%}
          &markers=size:mid|label:{{ ground.name.slice(0,1) | upper }}|{{ ground.latitude }},{{ ground.longitude }}
        {%- endfor -%}
        {%- endset -%}
        {%- set key = env.google_maps_api_key -%}
        {% set caption = "Map of clubs in " + region.alternateName %}
        <img 
        src="https://maps.googleapis.com/maps/api/staticmap?size=640x640&scale=2&markers={{ markers }}&key={{key}}" 
        alt="{{ caption }}"
      >
        <figcaption>
          <small>
            {{ caption }}
          </small>
        </figcaption>
      </figure>
    </div>
  </main>
  {{ unsplash(meta.hero["regions"])}}
{% endblock %}