---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset 
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
>
        <url>
            <loc>{{ meta.base }}/</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD") }}</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.1</priority>
        </url>
    {%- for index in ["grounds", "regions", "clubs", "leagues"] %}
        <url>
            <loc>{{ meta.base }}/{{ index }}</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD") }}</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.3</priority>
        </url>
    {%- endfor %}
    {%- for club in clubs | sort(attribute="memberOf.name" | sort(attribute = "name"))  -%}
        <url>
            <loc>{{ meta.base }}/leagues/{{ club.memberOf.name | slugify }}/{{ club.name | slugify }}</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD")}}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.5</priority>
        </url>
    {%- endfor %}
    {% for ground in grounds | sort(attribute = "areaServed.name") | sort(attribute = "name") -%}
        <url>
            <loc>{{ meta.base }}/regions/{{ ground.areaServed.name | slugify }}/{{ ground.name | slugify }}</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD")}}</lastmod>
            <changefreq>yearly</changefreq>
            <priority>0.7</priority>
        </url>
    {%- endfor %}
    {%- for league in leagues | sort(attribute = "additionalProperty.@value") -%}
        <url>
            <loc>{{ meta.base }}/leagues/{{ league.name | slugify }}</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD")}}</lastmod>
            <changefreq>yearly</changefreq>
            <priority>0.3</priority>
        </url>
    {%- endfor %}
    {%- for region in regions | sort(attribute = "name") -%}
        <url>
            <loc>{{ meta.base }}/regions/{{ region.name | slugify }}</loc>
            <lastmod>{{ page.date | date("YYYY-MM-DD")}}</lastmod>
            <changefreq>yearly</changefreq>
            <priority>0.3</priority>
        </url>
    {%- endfor %}
</urlset>