---
permalink: /schema/clubs.json
---
[
{% for club in clubs %}
   { 
    "@context": "https://schema.org",
    "@type": "SportsTeam",
    "sport": "Soccer",
    "identifier": {
        "@type": "url",
        "@value": "{{ meta.base }}/club/{{ club.name | slugify }}"
    },
    "name": "{{ club.name }}",
    {%- if club.url %}
    "url": "https://{{ club.url }}",
    {%- endif %}
    "foundingDate": {
        "@type": "Date",
        "@value": "{{ club.founded | date("YYYY")}}"
    },
    {% for l in leagues %}
        {% for c in l.clubs %}
            {% if c.name == club.name %}
                "memberOf": {
                    "@type": "SportsOrganization",
                    "name": "{{ l.name }}",
                    "sport": "Soccer",
                    "url": "https://{{ l.url }}",
                    "sponsor": {
                        "@type": "Organization",
                        "name": "{{ l.sponsor }}"
                    },
                    "identifier": {
                        "@type": "url",
                        "@value": "{{ meta.base }}/league/{{ l.name | slugify }}"
                    }
                },
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for g in grounds %}
        {% if club.ground == g.name %}
        "location": {
            "@type": "StadiumOrArena",
            "name": "{{ ground.name }}",
            "maximumAttendeeCapacity": "{{ ground.capacity }}",
            "latitude": "{{ g.latitude }}",
            "longitude": "{{ g.longitude }}",
            "address": {
                "@type": "PostalAddress",
                {%- if g.street %}
                "streetAddress": "{{ g.street }}",
                {%- endif %}
                "addressLocality": "{{ g.locality }}",
                "addressRegion": "{% county g.postcode | replace(" ", "") %}",
                "postalCode": "{{ g.postcode }}",
                "addressCountry": {
                    "@type": "Country",
                    "name": "GB"
                }
            },
            {%- if ground.sponsor %}
                "sponsor": {
                    "@type": "Organization",
                    "name": "{{ ground.sponsor }}"
                }
            {%- endif %}
        },
        "areaServed": {
            "@type": "AdministrativeArea",
            "name": "{% district g.postcode | replace(" ", "") %}"
        }
        {% endif %}
    {% endfor %}

   }{% if not loop.last %},{% endif %}
{% endfor %}
]