---
permalink: /schema/grounds.yaml
---
{% for ground in grounds %}
- name: {{ ground.name }}
  {%- if ground.sponsor %}
  sponsor: {{ ground.sponsor }}
  maximumAttendeeCapacity: {{ ground.capacity }}
  priceRange: ££
  {%- endif %}
  address:
    {%- if ground.street %}
    streetAddress: {{ ground.street }}
  {%- endif %}
  {%- if ground.locality %}
    addressLocality: {{ ground.locality }}
  {%- endif %}
  {%- if ground.region %}
    addressRegion: {% county ground.postcode | replace(" ", "") %}
  {%- endif %}
  {%- if ground.postcode %}
    postalCode: {{ ground.postcode }}
  {%- endif %}
    addressCountry: {% country ground.postcode %}
  {%- if ground.capacity %}{%- endif %}
  location: 
    {%- if ground.latitude %}
    latitude: {{ ground.latitude }}
  {%- endif %}
  {%- if ground.longitude %}
    longitude: {{ ground.longitude }}
  {%- endif %}
  areaServed: {% region ground.postcode %}
  currenciesAccepted: GBP
{% endfor %}