---
permalink: /schema/grounds.json
---
[
{% for ground in grounds %}
   { 
    "@context": "https://schema.org",
    "@type": "StadiumOrArena",
    {%- if ground.region and ground.name %}
    "identifier": {
        "@type": "url",
        "@id": "{{ meta.base }}/ground/{{ ground.region | slugify }}/{{ ground.name | slugify }}"
        },
    {%- endif %}
    "name": "{{ ground.name }}",
    "priceRange": "££",
    {%- if ground.sponsor %}
    "sponsor": {
        "@type": "Organization",
        "name": "{{ ground.sponsor }}",
    },
    {%- endif %}
    "areaServed": "{% region ground.postcode %}",
    {%- if ground.id %}
    "image": "https://media.api-sports.io/football/venues/{{ground.id}}.png",
    {%- endif %}
    "address": {
        "@type": "PostalAddress",
  {%- if ground.street %}
    "streetAddress": "{{ ground.street }}",
    {%- endif %}
    {%- if ground.locality %}
    "addressLocality": "{{ ground.locality }}",
    {%- endif %}
    {%- if ground.region %}
    "addressRegion": "{% county ground.postcode %}",
    {%- endif %}
    {%- if ground.postcode %}
    "postalCode": "{{ ground.postcode }}",
    {%- endif %}
    "addressCountry": {
        "@type": "Country",
        "name": "{% country ground.postcode %}"
    }
    },
    {%- if ground.capacity %}
    "maximumAttendeeCapacity": {{ ground.capacity }},
    {%- endif %}
    {%- if ground.latitude %}
    "latitude": {{ ground.latitude }},
    {%- endif %}
    {%- if ground.longitude %}
    "longitude": {{ ground.longitude }},
    {%- endif %}
   }{% if not loop.last %},{% endif %}

{% endfor %}
]